<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página Incial do Aluno</h2>
        <a href="/alunos/create" class="btn btn-primary">Cadastrar novo aluno</a>
    </section>
</section>


   <div class="container-fluid mb-4 row row-cols-1 row-cols-md-3 g-4 mt-2">
        {{#each dados}} <!--Cada dado, mutiplicando a quantidade de produtos-->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{dataValues.nome}}</h5>
                    <p class="card-text m-0">ID: {{dataValues.id}}</p>
                    <p class="card-text m-0">Idade: {{dataValues.idade}}</p>
                    <p class="card-text m-0">Nome do plano: {{plano.dataValues.nome_do_plano}}</p>
                </div>

                <div class="card-footer text-body-secondary">
                  <a href="" class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                </div>
            </div>
        </div>
          {{>modalDelete idItem=dataValues.id}}
        {{else}}
        <p>Nenhum aluno cadastrado ainda.</p> 

        {{/each}}
    </div>